$color-black: #000000;
$color-black-1: #232b38;
$color-black-2: rgba(35,43,56,0.9);
$color-black-3: rgba(0, 0, 0, 0.2);
$color-black-4: #2d333f;
$color-white: #ffffff;
$color-white-1: #f0f0f0;
$color-orange: #eebf00;
$color-red: #fe4545;
$color-grey: #808080;
$color-green: #009921;