.re-cart {
    background-color: $color-orange;
    border: 2px solid $color-orange;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: $spacer-2;
    padding: 0 0 0 $spacer-2;

    &__icon {
        width: 13px;
        height: 11px;
        background-image: url("../icons/cart-2.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: $spacer-2;
    }

    &__text {
        font-size: 16px;
        font-weight: $font-semi-bold;
        padding: $spacer-2 $spacer-3;
        background-color: $color-white;

        &:hover {
            background-color: $color-orange;
            color: $color-white;
            transition: 0.3s;
        }
    }
}