.re-blog {
    display: flex;
    flex-wrap: wrap;

    &__content {
        background-color: $color-white;
        padding: $spacer-3;
    }

    &__details {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__author {
        margin: 0 5% 0 auto;
        font-weight: $font-semi-bold;

        &::before {
            content: "Posted by";
            padding: 0 $spacer-1 0 0;
            font-weight: $font-regular;
        }
    }

    &__comments {

        &::after {
            content: "comments";
            padding: 0 0 0 $spacer-1;
        }
    }

    .re-sub-heading {
        padding: $spacer-3 0;
    }

}